
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 5</p>
                    <p>Название: Argentina</p>
                    <p>Описание: Account do talk skin.</p>
                    <button onclick="window.location=`/regions/forms_edit/5.html`;">Изменить запись</button>
                    <form id='form'>
                        <input type='text' name='region_id' value=5 id='input_region_id' style="display:none">
                        <button>Удалить запись</button>
                    </form>
                </body>
                <script>
                    const form = document.getElementById('form')
const input_region_id = document.getElementById('input_region_id')

form.addEventListener('submit', (event) => {
    event.preventDefault()
    console.log(input_region_id.value)
    fetch(`http://localhost:3001/api/regions/${input_region_id.value}`, {
        method: 'GET'
    })
    setTimeout(() => {
        window.location = `/regions/table.html`
    },2000)
})
                </script>
            </html>
        