
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 1</>
                    <p>Название: Bulgaria</>
                    <p>Описание: Such price fact begin human father.</>
                    <button onclick="window.location=`/regions/forms_edit/1.html`;">Изменить запись</>
                    <form action="/cgi-bin/regions/delete.py">
                        <input type='text' name='region_id' value=1 style="display:none">
                        <button>Удалить запись</>
                    </form>
                </body>
            </html>
        