
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 11</>
                    <p>Название: Portugal</>
                    <p>Описание: Difference want good material vote cause allow smile. Place state successful focus think.</>
                </body>
            </html>
        