
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 12</>
                    <p>Название: Yemen</>
                    <p>Описание: Hand medical season believe determine. Analysis run person project idea.</>
                    <button onclick="window.location=`/regions/forms_edit/12.html`;">Изменить запись</>
                    <form action="/cgi-bin/regions/delete.py">
                        <input type='text' name='region_id' value=12 style="display:none">
                        <button>Удалить запись</>
                    </form>
                </body>
            </html>
        