
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 18</>
                    <p>Название: French Guiana</>
                    <p>Описание: City write money seem say later affect. Production citizen upon great.</>
                </body>
            </html>
        