
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 18</>
                    <p>Название: French Guiana</>
                    <p>Описание: City write money seem say later affect. Production citizen upon great.</>
                    <button onclick="window.location=`/regions/forms_edit/18.html`;">Изменить запись</>
                    <form action="/cgi-bin/regions/delete.py">
                        <input type='text' name='region_id' value=18 style="display:none">
                        <button>Удалить запись</>
                    </form>
                </body>
            </html>
        