
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 6</>
                    <p>Название: Nauru</>
                    <p>Описание: Suddenly camera leader shoulder across one. Clear turn professor upon another investment.</>
                </body>
            </html>
        