
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 7</>
                    <p>Название: Haiti</>
                    <p>Описание: Student fire especially court sure full involve. Reality particularly president rich religious style.</>
                    <button onclick="window.location=`/regions/forms_edit/7.html`;">Изменить запись</>
                    <form action="/cgi-bin/regions/delete.py">
                        <input type='text' name='region_id' value=7 style="display:none">
                        <button>Удалить запись</>
                    </form>
                </body>
            </html>
        