
            <!DOCTYPE HTML>
            <html>
                <head>
                    <meta charset="utf-8">
                    <title>Просмотр региона</title>
                </head>
                <body>
                    <h1>Просмотр региона</h1>
                    <p>id: 9</>
                    <p>Название: Japan</>
                    <p>Описание: Cut free management participant discussion cold choice enter. Light need structure east example speak.</>
                </body>
            </html>
        